{% extends "template.html" %} {% block content %}
<section class="agua">
  <div class="container">
    <h1 class="mode--title">Calibrar consumo de Água na Irrigação</h1>
    <p class="mode--sub">
     1) Preencha o recipiente com água até a marca indicada (aprox. 50ml).
    </p><br>
    <p class="mode--sub">
     2) Coloque a mangueira de irrigação no fundo do recipiente com água!
    </p>
    <p class="mode--sub">
     3) Ao clicar em LIGAR a irrigação será ativada, aperte em desligar quando esgotar toda a água do recipiente!
    </p>

    <div class="btns--holder">
      <a class="btn btn-primary" role="button" href="/agua1"> LIGAR </a>
      <a class="btn btn-primary" role="button" href="/calibrar"> VOLTAR </a>
    </div>

    </div>
  </div>
</section>

{% endblock %}
