{% extends "template.html" %} {% block content %}
<section class="calibrar2">
  <div class="container">
    <h1 class="mode--title">Calibrar Sensor de Umidade</h1>
    <p class="mode--sub">
      O sensor de umidade foi calibrado com sucesso! Avance para seguir com os ajustes dos componentes.
    </p>

    <div class="btns--holder">
      <a class="btn btn-primary" role="button" href="/api"> AVANÇAR </a>
      <a class="btn btn-primary" role="button" href="/calibrar"> VOLTAR </a>
    </div>

    </div>
  </div>
</section>

{% endblock %}
