{% extends "template.html" %} {% block content %}
<section class="calibrar1">
  <div class="container">
    <h1 class="mode--title">Sensor de Umidade</h1>
    <p class="mode--sub">
      Agora coloque o sensor em um recepiente com água até a marcação limite. 
      Com o sensor na água aperte em avançar.
    </p>

    <div class="btns--holder">
      <a class="btn btn-primary" role="button" href="/calibrar2"> AVANÇAR </a>
      <a class="btn btn-primary" role="button" href="/"> VOLTAR </a>
    </div>

    </div>
  </div>
</section>
{% endblock %}
