{% extends "template.html" %} {% block content %}
<section class="manual">
  <div class="container">
    <h1 class="mode--title">Irrigação Manual</h1>
    <p class="mode--sub">
      Calibrar Teste
    </p>

    <div class="btns--holder">
      <a class="btn btn-primary" role="button" href="/calibrar2"> AVANÇAR </a>
      <a class="btn btn-primary" role="button" href="/"> VOLTAR </a>
    </div>

    </div>
  </div>
</section>

<script>
  function timedRefresh(timeoutPeriod) {
    setTimeout("location.reload(true);", timeoutPeriod);
  }
  window.onload = timedRefresh(2000);
</script>
{% endblock %}
