{% extends "template.html" %} {% block content %}
<section class="calibrar2">
  <div class="container">
    <h1 class="mode--title">Sensor de Umidade Calibrado com Sucesso!</h1>
    <p class="mode--sub">
     Clique em AVANÇAR para seguir com os ajustes.
    </p>

    <div class="btns--holder">
      <a class="btn btn-primary" role="button" href="/calibrar"> VOLTAR </a>
      <a class="btn btn-primary" role="button" href="/api"> AVANÇAR </a>
    </div>

    </div>
  </div>
</section>

{% endblock %}
