{% extends "template.html" %} {% block content %}
<section class="Calibrar">
  <div class="container">
    <h1 class="mode--title">Sensor de Umidade</h1>
    <p class="mode--sub">
      Para iniciarmos a calibração do sensor é necessário que ele esteja totalmente seco!<br>
      Aperte em avançar após secar o sensor.
    </p>

    <div class="btns--holder">
      <a class="btn btn-primary" role="button" href="/"> VOLTAR </a>
      <a class="btn btn-primary" role="button" href="/calibrar1"> AVANÇAR </a>
    </div>
  </div>
</section>
{% endblock %}
