{% extends "template.html" %} {% block content %}
<section class="home">
  <div class="container">
    <h1>Você gostaria de <b>gerenciar</b><br> a irrigação de forma</h1>

    <div class="btns--holder">
      <a href="/rq">
        <button class="btn btn-primary" role="button">INTELIGENTE</button>
      </a>
      <a href="/manual">
        <button class="btn btn-primary" role="button">MANUAL</button>
      </a>
      <a href="/calibrar">
        <button class="btn btn-primary" role="button"> OU CALIBRAR NOVAMENTE</button>
      </a>
    </div>
  </div>
</section>
{% endblock %}
