{% extends "template.html" %} {% block content %}
<section class="smart">
  <div class="container">
    <h1 class="mode--title">Irrigação Inteligente</h1>
    <p class="mode--sub">
      Para o cultivo de tomates a umidade do solo deve estar sempre entre
      <b>50%</b> e <b>80%</b>.<br>
      Solo úmido, próxima verificação em 6h.
    </p>

    <div class="status--holder">
      <p>Próxima verificação em:</p>
      <p><span class="status">"{{proxima_verificacao}}"</span></p>

      <div
        class="progress--bar chart"
        id="graph"
        data-percent=" {{umidade}} "
      ></div>
    </div>

    <a class="btn btn-primary" role="button" href="/index"> VOLTAR </a>
  </div>
  <script>
    setTimeout(function(){
       window.location.href = 'http://192.168.0.190:5000/rq';
    }, 50000); /* 21600000 milesegundos equivale a 6 horas */
 </script>
</section>
{% endblock %}
