{% extends "template.html" %} {% block content %}
<section class="smart">
  <div class="container">
    <h1 class="mode--title">Irrigação Inteligente</h1>
    <p class="mode--sub">
      Para o cultivo de tomates a umidade do solo deve estar sempre entre
      <b>50%</b> e <b>80%</b><br>
      Se a previsão do dia for de chuva o sistema não ira ligar a irrigação e fará uma nova verificação após 6h.
    </p>

    <div class="status--holder">
      <p>Próxima verificação em:</p>
      <p><span class="status">"{{proxima_verificacao}}"</span></p>

      <p>Previsão de chuva:</p>
      <p><span class="status">Chuva</span></p>

      <div
        class="progress--bar chart"
        id="graph"
        data-percent=" {{umidade}} "
      ></div>
    </div>

    <a class="btn btn-primary" role="button" href="/index"> Voltar </a>
  </div>
  <script>
    setTimeout(function(){
       window.location.href = 'http://192.168.0.105:5000/rq';
    }, 5000);
 </script>
</section>
{% endblock %}
